.header-container {
    top: 0;
    left: 0;
    width: 90%;
    padding: 10px; 
    z-index: 1000; 
}

.dashboard-page-container,
.ongoing-page-container {
    display: flex;
}   

.content-dashboard {
    width: 78.5vw;
    height: 68vh;
    margin-left: 19vw;
    margin-top: 2.9vh;
}

.content-upcoming {
    width: 78.5vw;
    height: 15vh;
    margin-left: 19vw;
    margin-top: 8.9vh;
}