.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 90vh;
}

.left-content h2 {
    color: #fff;
    font-size: 25px;
}

.right-content{
    display: flex;
}

.right-content img {
    width: 30px;
    height: 30px;
}

.right-content p {
    font-size: 16px;
    background-color: #fff;
    color: #00B9E3;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}