.header-container {
    top: 0;
    left: 0;
    width: 90%;
    padding: 10px; 
    z-index: 1000; 
}

.dashboard-page-container,
.ongoing-page-container {
    display: flex;
}   

.content-dashboard {
    width: 78.5vw;
    height: 68vh;
    margin-left: 19vw;
    margin-top: 2.9vh;
}

.content-upcoming {
    width: 78.5vw;
    height: 15vh;
    margin-left: 19vw;
    margin-top: 8.9vh;
}

.forum-card-content {
    display: flex;
    align-items: center;
}

.forum-content-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Atur margin sesuai kebutuhan */
}

.forum-card-image {
    width: 50px; /* Atur lebar gambar sesuai kebutuhan */
    height: 50px; /* Atur tinggi gambar sesuai kebutuhan */
    object-fit: cover; /* Atur object-fit sesuai kebutuhan */
}

.forum-class-container {
    margin-left: 10px; /* Atur margin sesuai kebutuhan */
}

.view-replies {
    margin-left: auto; /* Pindahkan ke kanan sejauh mungkin */
}
