html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2D76E5;
}

.login-page-container {
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background-color: #fff;
}

.sun-img{
  position: absolute;
}

.password-icon {
  position: absolute;
  top: 55.9%;
  margin-left: 39vh;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
}


.footer-container{
  position: absolute;
  list-style: none;
  display: flex;
  align-items: center;
  left: 15vw;
  bottom: 10vh;
}

.footer-container p{
  font-size: 20px;
}

.footer-container li {
  padding: 10px;
}

.saly-img {
  position: absolute;
  width: 30vw;
  height: 60vh;
  right: 8vh;
  bottom: 7.5vh;
}